<%- include('partials/header') %>
<div class="form-container">
    <h2>Cadastro</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="rdTipoConta">Tipo de Conta</label>
            <br>   
            <input type = "radio"    
                name = "rdTipoConta"
                id = "rdpessoa"
                value = "1"
                checked = "True"
                onClick="show1();"
            />
            <label for = "rdpessoa">Pessoa</label>
            &ensp; &ensp;
            <input type = "radio"
                name = "rdTipoConta"
                id = "rdcanil"
                value = "2"
                onClick="show2();"
            />
            <label for = "rdcanil">Canil</label>
        </div>
        <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" value="<%= locals.nome || '' %>" required />
        </div>
        <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" name="endereco" id="endereco" class="form-control" value="<%= locals.endereco || '' %>" required />
        </div>
        <div id="DadosPessoa">
            <div class="form-group">
                <label for="data">Data de nascimento</label>
                <input type="Date" name="data" id="data" class="form-control" value="<%= locals.data || '' %>" required />
            </div>
            <div class="form-group">
                <label for="cpf">CPF</label>
                <input type="text" name="cpf" id="cpf" class="form-control" value="<%= locals.cpf || '' %>" required />
            </div>
        </div>
        <div id="DadosCanil" style="Display: None">
            <div class="form-group">
                <label for="cnpj">CNPJ</label>
                <input type="text" name="cnpj" id="cnpj" class="form-control" value="<%= locals.cnpj || '' %>" required />
            </div>
        </div>
        <div class="form-group">
            <label for="username">Usuário</label>
            <input type="text" name="username" id="username" class="form-control" value="<%= locals.username || '' %>" required />
        </div>
        <div class="form-group">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Register</button>
            <a href="/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
<%- include('partials/footer') %>